Client/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manager" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfValueTupleOfProdottoManagerint35Ez_SH80">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfProdottoManagerint35Ez_SH80" type="tns:ValueTupleOfProdottoManagerint35Ez_SH80" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTupleOfProdottoManagerint35Ez_SH80" nillable="true" type="tns:ArrayOfValueTupleOfProdottoManagerint35Ez_SH80" />
  <xs:complexType name="ValueTupleOfProdottoManagerint35Ez_SH80">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProdottoManager" Namespace="http://schemas.datacontract.org/2004/07/Manager" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Manager" name="Item1" nillable="true" type="q1:ProdottoManager" />
      <xs:element name="Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfProdottoManagerint35Ez_SH80" nillable="true" type="tns:ValueTupleOfProdottoManagerint35Ez_SH80" />
</xs:schema>