Client/Connected Services/ServiceReference1/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtenteManager">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="Credito" type="xs:decimal" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tipologia" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UtenteManager" nillable="true" type="tns:UtenteManager" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indirizzo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="ArrayOfProdottoManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdottoManager" nillable="true" type="tns:ProdottoManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdottoManager" nillable="true" type="tns:ArrayOfProdottoManager" />
  <xs:complexType name="ProdottoManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_prodotto" type="xs:int" />
      <xs:element minOccurs="0" name="Cod_venditore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezzo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdottoManager" nillable="true" type="tns:ProdottoManager" />
  <xs:complexType name="ArrayOfOrdineManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdineManager" nillable="true" type="tns:OrdineManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdineManager" nillable="true" type="tns:ArrayOfOrdineManager" />
  <xs:complexType name="OrdineManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice_utente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_ordine" type="xs:int" />
      <xs:element minOccurs="0" name="Totale" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdineManager" nillable="true" type="tns:OrdineManager" />
  <xs:complexType name="ArrayOfVenditeManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VenditeManager" nillable="true" type="tns:VenditeManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenditeManager" nillable="true" type="tns:ArrayOfVenditeManager" />
  <xs:complexType name="VenditeManager">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrdineManager">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cognome_utente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id_articolo" type="xs:int" />
          <xs:element minOccurs="0" name="Nome_articolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome_utente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantita" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VenditeManager" nillable="true" type="tns:VenditeManager" />
</xs:schema>