Client/Connected Services/ServiceReference1/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Manager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Manager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtenteManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credito" type="xs:decimal" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indirizzo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipologia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtenteManager" nillable="true" type="tns:UtenteManager" />
</xs:schema>