Client/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manager" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Registra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="u1" nillable="true" type="q1:UtenteManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Controlla_credenziali">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="e" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Controlla_credenzialiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Controlla_credenzialiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="e" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccediResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="AccediResult" nillable="true" type="q2:UtenteManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzaProdotti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzaProdottiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="VisualizzaProdottiResult" nillable="true" type="q3:ArrayOfProdottoManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stato_ordine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="carrello" nillable="true" type="q4:ArrayOfValueTupleOfProdottoManagerint35Ez_SH80" />
        <xs:element minOccurs="0" name="cod_utente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stato_ordineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Stato_ordineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aggiungi_credito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importo" type="xs:double" />
        <xs:element minOccurs="0" name="cod_utente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aggiungi_creditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Aggiungi_creditoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Storico_ordini">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_utente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Storico_ordiniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="Storico_ordiniResult" nillable="true" type="q5:ArrayOfVenditeManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aggiungi_prodotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="p" nillable="true" type="q6:ProdottoManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aggiungi_prodottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Aggiungi_prodottoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rimozione_prodotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="p" nillable="true" type="q7:ProdottoManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rimozione_prodottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rimozione_prodottoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Storico_vendite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_utente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Storico_venditeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="Storico_venditeResult" nillable="true" type="q8:ArrayOfVenditeManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aggiungi_quantita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quantita" type="xs:int" />
        <xs:element minOccurs="0" name="codice" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Aggiungi_quantitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Aggiungi_quantitaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizza_dati">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_utente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Visualizza_datiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="Visualizza_datiResult" nillable="true" type="q9:UtenteManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzaUtenti">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VisualizzaUtentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Manager" minOccurs="0" name="VisualizzaUtentiResult" nillable="true" type="q10:ArrayOfUtenteManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rimozione_utente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_utente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rimozione_utenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rimozione_utenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>