Client/Connected Services/ServiceReference1/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IManagerService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Registra_InputMessage">
    <wsdl:part name="parameters" element="tns:Registra" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Registra_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistraResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/DoWork" message="tns:IManagerService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/DoWorkResponse" message="tns:IManagerService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registra">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Registra" message="tns:IManagerService_Registra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RegistraResponse" message="tns:IManagerService_Registra_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IManagerService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registra">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Registra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>