Client/Connected Services/ServiceReference1/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Manager" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IManagerService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Registra_InputMessage">
    <wsdl:part name="parameters" element="tns:Registra" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Registra_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistraResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Controlla_credenziali_InputMessage">
    <wsdl:part name="parameters" element="tns:Controlla_credenziali" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Controlla_credenziali_OutputMessage">
    <wsdl:part name="parameters" element="tns:Controlla_credenzialiResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Accedi_InputMessage">
    <wsdl:part name="parameters" element="tns:Accedi" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Accedi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccediResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_VisualizzaProdotti_InputMessage">
    <wsdl:part name="parameters" element="tns:VisualizzaProdotti" />
  </wsdl:message>
  <wsdl:message name="IManagerService_VisualizzaProdotti_OutputMessage">
    <wsdl:part name="parameters" element="tns:VisualizzaProdottiResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Stato_ordine_InputMessage">
    <wsdl:part name="parameters" element="tns:Stato_ordine" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Stato_ordine_OutputMessage">
    <wsdl:part name="parameters" element="tns:Stato_ordineResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Aggiungi_credito_InputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi_credito" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Aggiungi_credito_OutputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi_creditoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Storico_ordini_InputMessage">
    <wsdl:part name="parameters" element="tns:Storico_ordini" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Storico_ordini_OutputMessage">
    <wsdl:part name="parameters" element="tns:Storico_ordiniResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Aggiungi_prodotto_InputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi_prodotto" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Aggiungi_prodotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi_prodottoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Rimozione_prodotto_InputMessage">
    <wsdl:part name="parameters" element="tns:Rimozione_prodotto" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Rimozione_prodotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:Rimozione_prodottoResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Storico_vendite_InputMessage">
    <wsdl:part name="parameters" element="tns:Storico_vendite" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Storico_vendite_OutputMessage">
    <wsdl:part name="parameters" element="tns:Storico_venditeResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Aggiungi_quantita_InputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi_quantita" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Aggiungi_quantita_OutputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi_quantitaResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Visualizza_dati_InputMessage">
    <wsdl:part name="parameters" element="tns:Visualizza_dati" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Visualizza_dati_OutputMessage">
    <wsdl:part name="parameters" element="tns:Visualizza_datiResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/DoWork" message="tns:IManagerService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/DoWorkResponse" message="tns:IManagerService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registra">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Registra" message="tns:IManagerService_Registra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RegistraResponse" message="tns:IManagerService_Registra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Controlla_credenziali">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Controlla_credenziali" message="tns:IManagerService_Controlla_credenziali_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Controlla_credenzialiResponse" message="tns:IManagerService_Controlla_credenziali_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Accedi">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Accedi" message="tns:IManagerService_Accedi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AccediResponse" message="tns:IManagerService_Accedi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VisualizzaProdotti">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/VisualizzaProdotti" message="tns:IManagerService_VisualizzaProdotti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/VisualizzaProdottiResponse" message="tns:IManagerService_VisualizzaProdotti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stato_ordine">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Stato_ordine" message="tns:IManagerService_Stato_ordine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Stato_ordineResponse" message="tns:IManagerService_Stato_ordine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Aggiungi_credito">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Aggiungi_credito" message="tns:IManagerService_Aggiungi_credito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Aggiungi_creditoResponse" message="tns:IManagerService_Aggiungi_credito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Storico_ordini">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Storico_ordini" message="tns:IManagerService_Storico_ordini_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Storico_ordiniResponse" message="tns:IManagerService_Storico_ordini_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Aggiungi_prodotto">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Aggiungi_prodotto" message="tns:IManagerService_Aggiungi_prodotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Aggiungi_prodottoResponse" message="tns:IManagerService_Aggiungi_prodotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rimozione_prodotto">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Rimozione_prodotto" message="tns:IManagerService_Rimozione_prodotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Rimozione_prodottoResponse" message="tns:IManagerService_Rimozione_prodotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Storico_vendite">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Storico_vendite" message="tns:IManagerService_Storico_vendite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Storico_venditeResponse" message="tns:IManagerService_Storico_vendite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Aggiungi_quantita">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Aggiungi_quantita" message="tns:IManagerService_Aggiungi_quantita_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Aggiungi_quantitaResponse" message="tns:IManagerService_Aggiungi_quantita_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Visualizza_dati">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Visualizza_dati" message="tns:IManagerService_Visualizza_dati_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/Visualizza_datiResponse" message="tns:IManagerService_Visualizza_dati_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IManagerService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registra">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Registra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Controlla_credenziali">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Controlla_credenziali" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Accedi">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Accedi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VisualizzaProdotti">
      <soap:operation soapAction="http://tempuri.org/IManagerService/VisualizzaProdotti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stato_ordine">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Stato_ordine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aggiungi_credito">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Aggiungi_credito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Storico_ordini">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Storico_ordini" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aggiungi_prodotto">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Aggiungi_prodotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rimozione_prodotto">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Rimozione_prodotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Storico_vendite">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Storico_vendite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aggiungi_quantita">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Aggiungi_quantita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Visualizza_dati">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Visualizza_dati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Manager/ManagerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>