Manager/Connected Services/Server/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server/ServerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:complexType name="ArrayOfKeyValueOfintProdottoServermdr6at3Q">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintProdottoServermdr6at3Q">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" name="Value" nillable="true" type="q1:ProdottoServer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintProdottoServermdr6at3Q" nillable="true" type="tns:ArrayOfKeyValueOfintProdottoServermdr6at3Q" />
</xs:schema>