Manager/Connected Services/Server/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UtenteServer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="Credito" type="xs:decimal" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tipologia" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UtenteServer" nillable="true" type="tns:UtenteServer" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indirizzo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="ArrayOfProdottoServer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdottoServer" nillable="true" type="tns:ProdottoServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdottoServer" nillable="true" type="tns:ArrayOfProdottoServer" />
  <xs:complexType name="ProdottoServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_prodotto" type="xs:int" />
      <xs:element minOccurs="0" name="Cod_venditore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezzo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdottoServer" nillable="true" type="tns:ProdottoServer" />
  <xs:complexType name="ArrayOfOrdineServer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrdineServer" nillable="true" type="tns:OrdineServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrdineServer" nillable="true" type="tns:ArrayOfOrdineServer" />
  <xs:complexType name="OrdineServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codice_utente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_ordine" type="xs:int" />
      <xs:element minOccurs="0" name="Totale" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdineServer" nillable="true" type="tns:OrdineServer" />
  <xs:complexType name="ArrayOfVenditeServer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VenditeServer" nillable="true" type="tns:VenditeServer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenditeServer" nillable="true" type="tns:ArrayOfVenditeServer" />
  <xs:complexType name="VenditeServer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrdineServer">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cognome_utente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id_articolo" type="xs:int" />
          <xs:element minOccurs="0" name="Nome_articolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome_utente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantita" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VenditeServer" nillable="true" type="tns:VenditeServer" />
</xs:schema>